*{margin: 0px 0px; padding: 0px 0px;}

body{
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bdc3c7 !important;
}

.login-menu {
    max-width: 40%;
    margin: 25vh auto;
}

.admin-menu-item i{
    margin-right: 20px;
}

.login-button {
    text-align: center;
}

.login-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.admin-menu-item {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .5s;
}

.admin-menu-item:hover {
    background-color: #80808063;
}

.admin-menu {
    height: 100vh;
    max-width: fit-content;
    background-color: #EEEEEE;
    transition: all .5s;
    border-right: 5px solid #757575;
    position: relative;
    margin-bottom: 0px;
}

.bottom-item {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#admin_panel {
    background-color: #EEEEEE;
    margin-bottom: 0px;
    width: 84%;
    height: 99vh;
    margin-top: 1vh;
}

.massage-tab {
    width: 25%;
    margin: 10px 3px;
    border: 1px solid gray;
    cursor: pointer;
}

.home-line {
    display: flex;
    font-size: 18px;
}

.home hr{
    margin:  3px 0px;
}

.home-line-title {
    padding: 5px 5px;
    width: 30%;
}

.home-line-info {
    padding: 5px 0px;
    width: 30%;
}

.home-line-persen {
    padding: 5px 0px;
    width: 30%;
}

#massage_modal .input-group, #detail_order_modal .input-group{
    margin: 0px 0px !important;
}

#massage_modal .modal-body{
    background-color: #80808085;
}

#massage_modal .chatbox, #detail_order_modal .chatbox {
    max-height: 70vh;
}

.massage-tab-nickname {
    background-color: tan;
    text-align: center;
    font-size: 20px;
    padding: 3px 3px;
    color: white;
    border-bottom: 1px solid gray;
}

.red{
    background-color: #f44336 !important;
}

.massage-tab-massage {
    font-size: 17px;
    padding: 5px 5px;
    max-width: 100%;
    overflow-x: hidden;
}

.error{
	border-color: #f5c6cb !important;
	box-shadow: 0 0 0 0.2rem #f5c6cb !important;
}

.error:focus{
	border-color: #f5c6cb !important;
	box-shadow: 0 0 0 0.2rem #f5c6cb !important;
}

.success{
    border-color: #c3e6cb !important;
    box-shadow: 0 0 0 0.2rem #c3e6cb !important;
}

.success:focus{
	border-color: #c3e6cb !important;
	box-shadow: 0 0 0 0.2rem #c3e6cb !important;
}

#root .row{
    position: relative;
}

#admin_menu {
    width: 15%;
}

.admin-menu-item.active {
    background-color: #BDBDBD;
}

.system .input-group.mb-3 {
    display: block;
    padding: 0px 10px;
}

.system .input-group.mb-3 input {
    width: 80%;
    border-radius: 5px !important;
}

.panel-title {
    font-size: 22px;
    padding: 10px 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.dropdown-item{
    cursor: pointer;
}

.search-tab {
    margin: 10px 10px;
    max-width: 40%;
}

.block{
    display: block !important;
}

.panel-body {
    max-height: 80vh;
    overflow-y: auto;
    min-height: 80vh;
}

.save-button {
    text-align: center;
    width: 85%;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px;
    color: white;
    transition: all .3s;
    margin: 2.5rem 0px;
}

.save-button:hover {
    background-color: lightgreen !important;
}

.panel-body-inner {
    width: 50%;
}

.flex{
    display: flex;
}

/* START Chat */

.chat {
    background-color: gray;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: unset;
}

.chat.hide{
    height: auto;
    width: max-content;
}

.chatbox{
    height: 70%;;
}

.chat_setting {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #333;
    cursor: pointer;
}

.chat input.form-control {
    border-radius: 0px;
}

.chat_option {
    display: flex;
}

.chat_option_btn {
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    margin: 1px;
}

.chatbox {
    height: 80%;
    overflow-y: scroll;
    margin: 0px 0px;
}

.panel-body img{
    max-width: 300px;
    max-height: 200px;
}

.login-panel {
    max-width: 50%;
    margin: 0px auto;
}


.chat_inner {
    background-color: white;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 20px;
    list-style: none;
    max-width: 300px;
    width: max-content;
}

.chat_inner.yourself {
    background-color: aquamarine;
    margin-left: auto;
}

.nickname {
    font-size: 12px;
    color: gray;
}

/* END Chat*/

.switch-inner{
    margin-left: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media (max-width: 576px){
    .chat{
        width: 100%;
        height: 50%;
    }
}