*{margin: 0px; padding: 0px;}

body{
    font-family: "Open Sans",sans-serif !important;
    max-width: 100%;
    overflow-x: hidden;
}

button img{
    width: 2rem !important;
}

/* START Root*/

#root .container-fluid{
    padding: 0px 0px;
}

/* END Root */

/* START Header  */

#logo {
    width: 10rem;
}

.user_button{
    line-height: 5rem;
    text-align: right;
}

#language_select {
    max-width: max-content;
    font-size: 1rem;
}

.col-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}


.user_background {
    background-color: #000000c7;
    z-index: 1;
    width: 100%;
}

.btn-group, #logo {
    padding: 0px 10px;
}

.header{
    background-color: #333;
    margin-bottom: 20px;
}

.order_zone{
    margin-bottom: 20px;
}

#wall-slideshow{
    max-height: 400px;
    max-width: 100% !important;
    overflow: hidden;
}

/* END Header  */

/* START HeaderButton  */

.walletMaxMin {
    text-align: left;
    line-height: initial;
    padding: 5px 0px;
    font-size: 17px;
}

.modal-backdrop{
    z-index: 0 !important;
}

/* END HeaderButton  */

/* START ORDER*/

.title {
    font-size: 30px;
}

.caculator {
    padding: 0px 20px;
}

#buyPrice, #sellPrice {
    transition: all .5s;
    font-size: 22px;
    padding: 10px;
}

#buyPrice.up, #sellPrice.up{
    font-size: 35px !important;
    color: green !important;
}

#buyPrice.down, #sellPrice.down{
    font-size: 35px !important;
    color: red !important;
}

.error{
	border-color: #f5c6cb !important;
	box-shadow: 0 0 0 0.2rem #f5c6cb !important;
}

.error:focus{
	border-color: #f5c6cb !important;
	box-shadow: 0 0 0 0.2rem #f5c6cb !important;
}

.success{
    border-color: #c3e6cb !important;
    box-shadow: 0 0 0 0.2rem #c3e6cb !important;
}

.success:focus{
	border-color: #c3e6cb !important;
	box-shadow: 0 0 0 0.2rem #c3e6cb !important;
}

/* END ORDER */


/* START Chat */

.chat {
    background-color: gray;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: unset;
}

.chat.hide{
    height: auto;
    width: max-content;
}

.chatbox{
    height: 70%;;
}

.chat_setting {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #333;
    cursor: pointer;
}

.chat input.form-control {
    border-radius: 0px;
}

.chat_option {
    display: flex;
}

.chat_option_btn {
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    margin: 1px;
}

.chatbox {
    height: 70%;
    overflow-y: scroll;
    margin: 0px 0px;
}

.chat_inner {
    background-color: white;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 20px;
    width: max-content;
    list-style: none;
    max-width: 300px;
}

.chat_inner.yourself {
    background-color: aquamarine;
    margin-left: auto;
}

.nickname {
    font-size: 12px;
    color: gray;
}

/* END Chat*/

/* START History */
.user-history{
    width: 100%;
}
/* END History*/

@media (min-width: 992px){
    
}

@media (min-width: 768px){
    
}

@media (max-width: 576px){
    .col-xs-6.col-sm-6.col-md-6.col-lg-6.logo {
        text-align: center;
    }
    .chat{
        width: 100%;
        height: 50%;
    }
    .col-padding{
        text-align: center !important;
    }
    .user_button{
        text-align: center !important;
    }
    #wall-slideshow{
        display: none;
    }
}